<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'p2pstyle.css' %}">
    <title>P2P Shipping</title>
    <style>
        .truckbg{
            background-image: url("{% static 'truck.jpg' %}");
            background-size:cover;
            background-position: center;
            height: 20em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    </style>
</head>
<body>
    
    <div class="page-container">
        <div class="header-bar">
            <div>
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'p2plogo.png' %}" class="logo-img">
                </a>
            </div>
            <div class="nav-btn-container">
                {% if user.is_authenticated %}
                    <a>Logged-in as: {{user.username}}</a>
                    <a class="nav-btn" href="{% url 'makeorderspage' %}">Place an order</a>
                    <a class="nav-btn" href="{% url 'vieworderspage' %}">View your orders</a>
                    {% if user.is_staff %}
                        <a class="nav-btn" href="{% url 'estimatepricespage' %}">Estimate Prices</a>
                    {% endif %}
                    <a class="nav-btn" href="{% url 'logoutpage' %}">Log-out</a>

                {% else %}
                    <a class="nav-btn" href="{% url 'registerpage' %}">Register</a>
                    <a class="nav-btn" href="{% url 'loginpage' %}">Log-in</a>
                {% endif %}
            </div>
        </div>
        <div class="content">
            <div class="truckbg">
                <h1>Welcome to P2P Shipping</h1>
            </div>
            <div style="padding-left: 10em; padding-top: 2em; line-height: 2em;">
                <h1><u>About Us</u></h1>
                <p>
                    We help people ship packages and cargo across India to their friends, family, and more. <br>
                    Serving India since 2023, our service is as simple as Pick a destination, Describe your package, and send. <br>
                    <br>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                        To get started, use the Navigation Bar at the top of the page to place or view orders, or accept and price customers' orders.
                        {% else %}
                        To get started, use the Navigation Bar at the top of the page to place an order, or view your order history.
                        {% endif %}
                    {% else %}
                        To get started, use the Navigation Bar at the top of the page to login, or register.
                    {% endif %}
                </p>
            </div>
            <div style="text-align: center;background-color: black;color:white;position: fixed;bottom: 0px;left:0px;right: 0px;">
                <p style="margin-top: 3px;margin-bottom: 3px;">Site created by Rohan Fernando ©️2023</p>
            </div>
        </div>
    </div>

</body>
</html>